* {
    box-sizing: border-box;
    padding: 0;
    border: 0;    
}


main{
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    background: url(./bg.jpg);
    border-radius: 50px;   
}

nav{
    border-radius: 50px;
    margin: 2% 8% 1% 8%;
}


#navbarNav{
    justify-content: center;
    font-weight: bold;
    font-size: x-large   
}

/* nav{
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 1rem;
    color: white;

}

nav ul{
    display: flex;
    
}
 */



section{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    align-content:center;
    margin: 0 auto;
    
}


img{
    width: 400px;
    border-radius: 50px;
    border: solid rgb(39, 36, 36) 10px;
    filter:grayscale(1);
    
}

.bthd{
    width: 650px;
 }

img:hover {
    filter: grayscale(0);
    /* margin: 12px; */
    padding: 5px;
    background: black;
    transition: ease-in-out .10s;
    border-radius: 50px;
    margin-bottom: -1px;
    
}

img:hover.bthd {
    filter: grayscale(0);
    /* margin: 12px; */
    padding: 5px;
    background: black;
    margin: -1px;
   
}


article{  
    margin: 1%;
    padding: 10px;

    
}

footer{
    margin-bottom: 1rem;
}
/* article{
    text-align: justify;
    margin: 0.5rem;
    padding: 10px;
    background:black;
    flex: 0 0 200px;
    border-radius: 60px; 
   
}*/

/* article:nth-of-type(9)  {
    flex-grow: 2;
} */

/* footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    list-style-type: none;
} */

form{
    margin: auto;
    width: 40%;
    border-radius: 50px;
    padding: 1rem;
    background-color:rgb(39, 36, 36);
}

.form-control{
    padding:  10rem;
}

@media screen and (max-width: 852px) {

    main {
      max-width: 600px;
    }
  
    img.bthd {
      max-width: 400px;
    }
  }

  @media screen and (max-width: 500px) {

    main {
      max-width: 400px;
    }
  
    img {
      max-width: 150px;
    }

    img.bthd {
        max-width: 330px;
      }
  }  