* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

main {
  width: 80%;
  margin: auto;
  padding: 0.5rem;
  background: url(./bg.jpg);
  border-radius: 50px;
}

nav {
  border-radius: 50px;
  margin: 2% 8% 1% 8%;
}

#navbarNav {
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
}

section {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

img {
  width: 400px;
  border-radius: 50px;
  border: solid rgb(39, 36, 36) 10px;
  filter: grayscale(1);
}

.bthd {
  width: 650px;
}

img:hover {
  filter: grayscale(0);
  /* margin: 12px; */
  padding: 5px;
  background: black;
  transition: ease-in-out 0.1s;
  border-radius: 50px;
}

img:hover.bthd {
  filter: grayscale(0);
  /* margin: 12px; */
  padding: 5px;
  background: black;
}

article {
  margin: 1%;
  padding: 10px;
}

footer {
  margin-bottom: 1rem;
}

form {
  color: rgb(168, 162, 162);
  margin: auto;
  width: 80%;
  border-radius: 50px;
  padding: 3rem;
  background-color: rgb(54, 53, 53);
}

legend {
  margin-top: 10px;
}

.flex-fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-fieldset > label {
  flex: 1 1 69%;
}

.flex-fieldset > input {
  flex: 1 1 30%;
}

input[type="text" i],
input[type="date" i],
input[type="time" i],
textarea {
  border: 2px solid rgb(88, 79, 79);
  border-radius: 50px;
  padding: 15px;
  font-size: 110%;
}

button.submit {
  font-size: large;
  font-weight: bold;
  padding: 15px 60px;
  border-radius: 50px;
  color: rgb(168, 162, 162);
}

@media screen and (max-width: 852px) {
  main {
    max-width: 600px;
  }

  img.bthd {
    max-width: 400px;
  }
}

@media screen and (max-width: 500px) {
  main {
    max-width: 400px;
  }

  img {
    max-width: 150px;
  }

  img.bthd {
    max-width: 330px;
  }
}
